

#container {
    width:     1500px;
    background-color: #FFEAEE;
    margin-left: auto;
    margin-right: auto;
    color: ;
    padding: 4px;
}

#header {
    background-color:#0075F2;
    text-align: center;
    padding: 4px;
}

#menu {
    width:     1000px;
    background-color:  #00F2F2;
    margin-left:   20px;
    padding: 4px;
    
}


a {
    font-size:  20px;
    text-decoration: none;
    color: #096B72;
}
a:hover {
    color: #D0E3CC;
    text-decoration: none;
}
     